.container {
    background-color: #d4a08c;
    text-align: center;
    padding: 20px;
    min-height: 100vh; /* Asegura que el fondo cubra toda la altura visible */
    width: 100vw; /* Asegura que el div ocupe todo el ancho visible */
  }
  
  header {
    margin-bottom: 20px;
  }
  
  footer {
    margin-top: 20px;
    font-size: 0.8em;
    color: #888;
  }
  